{:paths   ["src"]
 :project {:name        "clj-r2dbc"
           :version     "0.1.0-SNAPSHOT"
           :description "A modern low-level Clojure wrapper for non-blocking, R2DBC-based access to databases."
           :url         "https://github.com/robinlahtinen/clj-r2dbc"
           :license     {:name "MIT License"
                         :url  "https://github.com/robinlahtinen/clj-r2dbc/blob/main/LICENSE"}}
 :deps    {org.clojure/clojure                 {:mvn/version "1.12.5"}
           io.r2dbc/r2dbc-spi                  {:mvn/version "1.0.0.RELEASE"}
           missionary/missionary               {:mvn/version "b.47"}
           camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
           com.taoensso/trove                  {:mvn/version "1.1.0"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps  {org.clojure/test.check               {:mvn/version "1.1.3"}
                 io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                 de.levering-it/missionary-testkit    {:mvn/version "0.5.0"}
                 io.r2dbc/r2dbc-spi-test              {:mvn/version "1.0.0.RELEASE"}
                 io.r2dbc/r2dbc-h2                    {:mvn/version "1.1.0.RELEASE"}
                 com.h2database/h2                    {:mvn/version "2.4.240"}}}
  :integration
  {:extra-paths ["test"]
   :main-opts   ["-m" "clj-r2dbc.test-runner.integration"]
   :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                 org.clojure/test.check               {:mvn/version "1.1.3"}
                 de.levering-it/missionary-testkit    {:mvn/version "0.5.0"}
                 org.postgresql/r2dbc-postgresql      {:mvn/version "1.1.1.RELEASE"}
                 org.mariadb/r2dbc-mariadb            {:mvn/version "1.4.0"}
                 io.r2dbc/r2dbc-h2                    {:mvn/version "1.1.0.RELEASE"}
                 com.h2database/h2                    {:mvn/version "2.4.240"}}}
  :tck
  {:extra-paths ["test"]
   :main-opts   ["-m" "clj-r2dbc.test-runner.tck"]
   :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                 org.clojure/test.check               {:mvn/version "1.1.3"}
                 de.levering-it/missionary-testkit    {:mvn/version "0.5.0"}
                 io.r2dbc/r2dbc-h2                    {:mvn/version "1.1.0.RELEASE"}
                 com.h2database/h2                    {:mvn/version "2.4.240"}}}
  :bench  {:extra-paths ["bench" "test"]
           :extra-deps  {criterium/criterium     {:mvn/version "0.5.243-ALPHA"}
                         io.r2dbc/r2dbc-spi-test {:mvn/version "1.0.0.RELEASE"}
                         io.r2dbc/r2dbc-h2       {:mvn/version "1.1.0.RELEASE"}
                         com.h2database/h2       {:mvn/version "2.4.240"}}
           :jvm-opts    ["-XX:+UnlockExperimentalVMOptions"
                         "-XX:CompileCommand=blackhole,criterium.blackhole.Blackhole::consume"
                         "-server" "-Xms1g" "-Xmx1g"]
           :exec-fn     clj-r2dbc.bench.runner/run}
  :build  {:deps       {io.github.clojure/tools.build
                        {:mvn/version "0.10.13"}
                        slipset/deps-deploy {:mvn/version "0.2.3"}}
           :ns-default build}
  :lint   {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2026.04.15"}}
           :main-opts    ["-m" "clj-kondo.main" "--lint" "src" "test" "bench" "build.clj"]}
  :format {:deps       {dev.weavejester/cljfmt {:mvn/version "0.16.4"}}
           :ns-default cljfmt.tool
           :exec-args  {:paths ["src" "test" "bench" "build.clj"]}}
  :docs   {:extra-deps {codox/codox {:mvn/version "0.10.8"}}
           :exec-fn    codox.main/generate-docs
           :exec-args  {:name         "clj-r2dbc"
                        :version      "0.1.0-SNAPSHOT"
                        :description  "A modern low-level Clojure wrapper for non-blocking, R2DBC-based access to databases."
                        :license      {:name "MIT License"
                                       :url  "https://github.com/robinlahtinen/clj-r2dbc/blob/main/LICENSE"}
                        :package      com.github.robinlahtinen/clj-r2dbc
                        :source-paths ["src"]
                        :output-path  "target/docs"
                        :doc-paths    ["doc"]
                        :source-uri   "https://github.com/robinlahtinen/clj-r2dbc/blob/main/{filepath}#L{line}"
                        :metadata     {:doc/format :plaintext}}}
  :nrepl  {:extra-paths ["test"]
           :extra-deps  {nrepl/nrepl {:mvn/version "1.7.0"}}
           :main-opts   ["-m" "nrepl.cmdline" "--port" "7888"]}}}
